@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles  */
.display-flex{
  display: flex;
}

/* dark 02  */

.text-color-two{
  color: #424242;
}

/* dark 03  */
.text-color-three {
color: #727272;
}

.bg-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.text-color-primary{
  color: orange;
}
.btn-primary{
  color: white;
  background-color: orange;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 20px 25px;
  border-radius: 10px;
  border: none;
  
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section{
  margin-top: 130px;
}
.section-titel{
  font-size: 2.8rem;
  font-weight: 700;
}
/* header styles  */

/* navbar styles  */
.navbar{
  justify-content: space-between;
  align-items: center;
  
}
.brand-title{
 font-weight: 700;
 font-size: 2.8rem;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
  
}
.nav-item a{
  text-decoration: none;
}
.navbar , .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner Section  */

.banner-content {
 max-width: 850px;
 margin: 0 auto;
 text-align: center;
 margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
  
}
.banner-image{
  width: 100%;
}

/* team  and features related style  */
.teams{
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}

#titel-one{
  font-weight: 500;
}
/* Features you will love & enjoy section  */
.features-section-start{
  gap: 140px;
}
#features-title-start{
  border-left: 5px solid orange;
  padding: 20px;
}
.features-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.070);
  margin-bottom: 20px;
  border-radius: 8px;
}
.features-section-start .features-card{
  font-weight: 600;
  font-size: 1.25rem;
  
}
.features-img{
  margin-top: 150px;
  width: 100%;
}
#big-button{
padding: 45px 42px;
font-size: 1.25rem;
font-weight: 500;
margin-left: -100px;
margin-top: -100px;
}
#experience-year {
font-size: 4rem;
font-weight: 700;
}
/* some fact card style  */


.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 
}
.fact-card{
  border: 1px solid orange;
   width: 240px;
  height: 240px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number{
font-size: 2.8rem;
font-weight: 600;
margin-top: 5px ;
margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25rem;
font-weight: 600;
margin-top: 10px;
}
.fact-description{
  max-width: 540px;
}
/* sponsor info style  */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
 
}
.sponsor-company{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  filter:grayscale(100%) ;
}
/* footer section  */

.footer-container {
    background-color: #FFF3E0; 
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px; 
    margin: 50px 200px;
}

.footer-content p {
    margin: 0;
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 500;
}


/* smaller dveice  */
@media screen and (max-width:576px){
  .navbar , 
  .navbar-links , 
  .features-section-start,
  .teams{
    flex-direction: column;
  }
  .teams-img-container ,
   .facts-container,
   .sponsor-company
   {
  grid-template-columns: repeat(1, 1fr);
}
.facts-container{
  justify-items: center;
  gap: 24px;
}
    .our-features {
      margin-left: 20px;
    
    }
    .sponsor-company{
    gap: 30px;
    justify-items: center;
    }
    #big-button{
      margin-top: 20px;
      margin-left: 20px;
    }
   .footer-container {
        padding: 25px 15px;
        margin: 10px;
    }
    
    .footer-content p {
        font-size: 14px; 
        line-height: 1.5;
    }
    .features-img{
      width: 100%;
    }
}

/* medium device  */
@media screen and (min-width:576px) and (max-width:992px){
  .teams, .features-section-start{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  }
 
  .sponsor-company,
.facts-container
   {
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-left: 50px;
}
 #big-button{
      margin-top: 20px;
      margin-left: 20px;
    }
   

}